.blog-drawer .el-drawer__body{
    margin: 0;
    padding: 0;
}


.blog-input{
    height: 40px;
  
}

.blog-input .el-input__wrapper{
    border-radius: 15px;
}
.blog-input .el-input__wrapper.is-focus{
    box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color)) inset;
}

.blog-button{
    width: 100%;
}

.blog-header{
    padding: 10px 0;
}