<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dashui.naruto.mapper.ConfigMapper">

    <resultMap id="BaseResultMap" type="com.dashui.naruto.domain.Config">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="group" column="group" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="tip" column="tip" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="rule" column="rule" jdbcType="VARCHAR"/>
            <result property="extend" column="extend" jdbcType="VARCHAR"/>
            <result property="allowDel" column="allow_del" jdbcType="TINYINT"/>
            <result property="weigh" column="weigh" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,group,
        title,tip,type,
        value,content,rule,
        extend,allow_del,weigh
    </sql>
</mapper>
