<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dashui.naruto.mapper.SystemMenuMapper">

    <resultMap id="BaseResultMap" type="com.dashui.naruto.domain.SystemMenu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="menuType" column="menu_type" jdbcType="OTHER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="keepAlive" column="keep_alive" jdbcType="INTEGER"/>
            <result property="extend" column="extend" jdbcType="OTHER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,type,
        title,perms,name,
        path,icon,menu_type,
        url,component,keep_alive,
        extend,remark,sort,
        status,update_time,create_time,
        create_by,update_by
    </sql>

    <select id="queryMenuByAdminId" resultType="systemMenu">
        select sm.* from system_menu sm
                          left join system_menu_role_mapping smrm on sm.id = smrm.menu_id
                          left join system_admin_role_mapping sarm on smrm.role_id = sarm.role_id
        where sarm.admin_id = #{id}
    </select>
</mapper>
